<p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#colla0" aria-expanded="false"
        aria-controls="#colla0">
        <p>Maths ID:2</p>
    </button>
</p>
<div class="collapse" id="colla0">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Quitar</th>
            </tr>
        </thead>
        <tr>
            <td>1</td>
            <td>Brayan Giraldo</td>
            <td>bgiraltube@gmail.com</td>
            <td>3207958643</td>
            <td>
                <buttontype="button" class="btn btn-danger">Eliminar</button>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>Brayan Giraldiny</td>
            <td>bgiraltube@gmail.com</td>
            <td>3207958643</td>
            <td>
                <buttontype="button" class="btn btn-danger">Eliminar</button>
            </td>
        </tr>
    </table>
</div>------------------------------------------------------

<p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#colla0" aria-expanded="false"
        aria-controls="#colla0">
        <p>Maths ID:2</p>
    </button>
</p>
<div class="collapse" id="colla0">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Quitar</th>
            </tr>
        </thead>
        <tr>
            <td>1</td>
            <td>Brayan Giraldo</td>
            <td>bgiraltube@gmail.com</td>
            <td>3207958643</td>
            <td>
                <buttontype="button" class="btn btn-danger">Eliminar</button>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>Brayan Giraldiny</td>
            <td>bgiraltube@gmail.com</td>
            <td>3207958643</td>
            <td>
                <buttontype="button" class="btn btn-danger">Eliminar</button>
            </td>
        </tr>
    </table>
</div>
<p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#colla1" aria-expanded="false"
        aria-controls="#colla1">
        <p>test ID:4</p>
    </button>
</p>
<div class="collapse" id="colla1">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Quitar</th>
            </tr>
        </thead>
    </table>
</div>------------------------------------------------------

<p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#colla0" aria-expanded="false"
        aria-controls="#colla0">
        <p>Maths ID:2</p>
    </button>
</p>
<div class="collapse" id="colla0">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Quitar</th>
            </tr>
        </thead>
        <tr>
            <td>1</td>
            <td>Brayan Giraldo</td>
            <td>bgiraltube@gmail.com</td>
            <td>3207958643</td>
            <td>
                <buttontype="button" class="btn btn-danger">Eliminar</button>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>Brayan Giraldiny</td>
            <td>bgiraltube@gmail.com</td>
            <td>3207958643</td>
            <td>
                <buttontype="button" class="btn btn-danger">Eliminar</button>
            </td>
        </tr>
    </table>
</div>
<p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#colla1" aria-expanded="false"
        aria-controls="#colla1">
        <p>test ID:4</p>
    </button>
</p>
<div class="collapse" id="colla1">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Quitar</th>
            </tr>
        </thead>
    </table>
</div>
<p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#colla2" aria-expanded="false"
        aria-controls="#colla2">
        <p>Ingles ID:5</p>
    </button>
</p>
<div class="collapse" id="colla2">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Quitar</th>
            </tr>
        </thead>
    </table>
</div>------------------------------------------------------